<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>

<!-- 추가 및 수정 시 작성자와 날짜, 내용 등을 주석으로 남기기 -->
<typeAliases>

	<!-- Member,Admin vo 및 mapper 생성 후 등록 by NaHyowon 2021.11.15-->  
	<typeAlias type="kh.teamproject.apton.member.model.vo.Member" alias="Member"/> 
	<typeAlias type="kh.teamproject.apton.admin.model.vo.Admin" alias="Admin"/>
	<typeAlias type="kh.teamproject.apton.defectreception.model.vo.DrBoard" alias="DrBoard"/> 
	<typeAlias type="kh.teamproject.apton.votesign.model.vo.VoteInfo" alias="VoteInfo"/>  <!--  VoteInfo mapper 생성 후 등록 by NaHyowon 2021.11.16 -->
	<typeAlias type="kh.teamproject.apton.admin.notice.vo.Notice" alias="Notice"/>
	<typeAlias type="kh.teamproject.apton.maintenancecost.model.vo.MaintenanceCost" alias="Mcost"/> <!-- mcost mapper 생생 후 등록 by ParkJunYub 2021.11.19 -->
	<typeAlias type="kh.teamproject.apton.common_energy_usage.model.vo.CommonUsage" alias="ComUsage"/> <!-- comusage mapper 생생 후 등록 by ParkJunYub 2021.11.19 -->
	<typeAlias type="kh.teamproject.apton.votesign.model.vo.VoteRecords" alias="VoteRecords"/> <!--  VoteRecords mapper 생성 후 등록 by NaHyowon 2021.11.23 -->
	<typeAlias type="kh.teamproject.apton.votesign.model.vo.SignRecords" alias="SignRecords"/> <!--  SignRecords mapper 생성 후 등록 by NaHyowon 2021.11.26 -->
	<typeAlias type="kh.teamproject.apton.defectreception.model.vo.DrStat" alias="DrStat"/> <!--  DrStat mapper 생성 후 등록 by SJH 2021.11.26 -->
	<typeAlias type="kh.teamproject.apton.generation.model.vo.Generation" alias="Generation"/> <!-- Generation mapper 생성 후 등록 by ParkJunYub 2021.12.06 -->
</typeAliases>

<!-- 추가 및 수정 시 작성자와 날짜, 내용 등을 주석으로 남기기 -->
<mappers>

	<!-- Member,Admin용 vo 및 mapper 생성 후 등록 by NaHyowon 2021.11.15--> 
	<mapper resource="mappers/Notice-mapper.xml"/>
	<mapper resource="mappers/member-mapper.xml"/>
	<mapper resource="mappers/admin-mapper.xml"/>
	<mapper resource="mappers/drboard-mapper.xml"/><!-- DrBoard mapper 추가  by SJH 2021.11.16-->
	<mapper resource="mappers/voteinfo-mapper.xml"/> <!--  VoteInfo mapper 생성 후 등록 by NaHyowon 2021.11.16 -->
	<mapper resource="mappers/mcost-mapper.xml"/> <!-- mcost mapper 생생 후 등록 by ParkJunYub 2021.11.19 -->
	<mapper resource="mappers/comusage-mapper.xml"/> <!-- comusage mapper 생생 후 등록 by ParkJunYub 2021.11.19 -->
	<mapper resource="mappers/voterecords-mapper.xml"/> <!--  VoteRecords mapper 생성 후 등록 by NaHyowon 2021.11.23 -->
	<mapper resource="mappers/signrecords-mapper.xml"/> <!--  signrecords mapper 생성 후 등록 by NaHyowon 2021.11.26 -->
	<mapper resource="mappers/drstat-mapper.xml"/> <!--  drStat mapper 생성 후 등록 by NaHyowon 2021.11.27 -->
	<mapper resource="mappers/generation-mapper.xml"/> <!-- Generation mapper 생성 후 등록 by ParkJunYub 2021.12.06 -->
</mappers>





</configuration>
