<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>

<!-- 추가 및 수정 시 작성자와 날짜, 내용 등을 주석으로 남기기 -->
<typeAliases>

	<!-- Member,Admin vo 및 mapper 생성 후 등록 by NaHyowon 2021.11.15  -->
	<typeAlias type="kh.teamproject.apton.member.model.vo.Member" alias="Member"/> 
	<typeAlias type="kh.teamproject.apton.admin.model.vo.Admin" alias="Admin"/> 
</typeAliases>

<!-- 추가 및 수정 시 작성자와 날짜, 내용 등을 주석으로 남기기 -->
<mappers>

	<!-- Member,Admin용 vo 및 mapper 생성 후 등록 by NaHyowon 2021.11.15  -->
	<mapper resource="mappers/member-mapper.xml"/>
	<mapper resource="mappers/admin-mapper.xml"/>
</mappers>





</configuration>
