<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>

<!-- 추가 및 수정 시 작성자와 날짜, 내용 등을 주석으로 남기기 -->
<typeAliases>
</typeAliases>

<!-- 추가 및 수정 시 작성자와 날짜, 내용 등을 주석으로 남기기 -->
<mappers>
</mappers>





</configuration>
