<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Admin">

	<!-- Admin ResultMap 생성 by NaHyowon 2021.11.15 -->
	<resultMap id="AdminMap" type="Admin">
		<id property="adminId" column="admin_id" />
		<result property="adminPwd" column="admin_pwd" />
		<result property="adminLog" column="admin_log" />
	</resultMap>
	
	<!-- Admin select(로그인) 생성 by ParkJunYeb 2021.11.17-->
		<select id="login" resultMap="AdminMap" parameterType="Admin">
		select admin_id, admin_pwd from admin 
		where admin_id = #{adminId} and admin_pwd = #{adminPwd}
		</select>
</mapper>
