<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Calendar">

	<!-- Calendar ResultMap 생성 by 2021.12.08 -->
	<resultMap id="CalendarMap" type="Calendar">
		<id property="calendar_num" column="calendar_num" />
		<result property="admin_id" column="admin_id" />
		<result property="calendar_title" column="calendar_title" />
		<result property="calendar_startdate" column="calendar_startdate" />
		<result property="calendar_enddate" column="calendar_enddate" />
	</resultMap>
	
		
	<select id="calendarlist" resultType="Calendar">
		<![CDATA[
		select calendar_num,admin_id,calendar_title,calendar_startdate,calendar_enddate from calendar order by calendar_num desc
			 ]]>
	</select>
	
	<insert id="insertCalendar" parameterType="Calendar">
	<![CDATA[
	Insert Into CALENDAR values (CALENDAR_seq.NEXTVAL,#{admin_id},#{calendar_title},#{calendar_startdate},#{calendar_enddate})
	 ]]>
	</insert>
	
		<select id="selectCalendarView" resultMap="CalendarMap">
		<![CDATA[
		select calendar_num,admin_id,calendar_title,calendar_startdate,calendar_enddate from calendar WHERE calendar_num = #{calendar_num}
		]]>
	</select>
	
	
	<select id="deleteCalendar" parameterType="Calendar" resultType="_int">
	
		delete from CALENDAR where calendar_num = #{calendar_num}
	
	</select>
	
	 <update id="updateCalendar" parameterType="Calendar" >

	UPDATE Calendar SET calendar_title = #{calendar_title} , calendar_startdate = #{calendar_startdate}, calendar_enddate = #{calendar_enddate} WHERE calendar_num = #{calendar_num} 
	 
	</update> 
</mapper>
