<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ComUsage">
	<!-- ComUsage ResultMap 생성 by ParkJunyeb 2021.11.19 -->
	
	<resultMap type="ComUsage" id="ComUsageMap">
		<id property="maintenanceCost" column="MAINTENANCE_COST"/>
		<result property="mCost" column="M_COST"/>
		<result property="cleanCost" column="CLEAN_COST"/>
		<result property="secuCost" column="SECU_COST"/>
		<result property="elevatorCost" column="ELEVATOR_COST"/>
		<result property="disinCost" column="DISIN_COST"/>
		<result property="comWtCost" column="COMMON_WATER_COST"/>
		<result property="comElCost" column="COMMON_ELEC_COST"/>
		<result property="today" column="COMMON_ENERGY_DATE"/>
		<result property="householdNum" column="GENERRATION_NUMBER"/>
		<result property="price" column="PRICE"/>
	</resultMap>
	
	<select id ="selectOne" parameterType="_int" resultMap="ComUsageMap">
	<![CDATA[
		select * from common_energy_usage
		where maintenance_cost = #{cost_num}
		]]>
	</select>
	
	<select id ="allprice" parameterType="_int" resultMap="ComUsageMap">
	<![CDATA[
		select price from common_energy_usage
		where year(COMMON_ENERGY_DATE) = #{date}
		]]>
	</select>
	
</mapper>