<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DrBoard">
	<!-- DrBoard ResultMap 생성 by SJH 2021.11.16 -->
	
	<resultMap id="DrBoardMap" type="DrBoard">
		<id property="drNo" column="DR_NO" />
		<result property="houseNo" column="HOUSE_NUM" />
		<result property="adminId" column="ADMIN_ID" />
		<result property="drTitle" column="DR_TITLE"/>
		<result property="drContent" column="DR_CONTENT"/>
		<result property="drDate" column="DR_DATE"/>
		<result property="drState" column="DR_STATE"/>
		<result property="drProcessingDate" column="DR_PROCESSINGDATE"/>		
		<result property="drProcessingDetail" column="DR_PROCESSINGDETAIL"/>
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		select count(*) from DEFECT_RECEPTION

	</select>
	
	
	<select id="selectBoardList" resultMap="DrBoardMap">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM RNUM, dr_no, HOUSE_NUM, ADMIN_ID, dr_TITLE, DR_CONTENT, to_char(DR_DATE, 'YY/MM/DD') DR_DATE, DR_STATE, DR_PROCESSINGDATE, DR_PROCESSINGDETAIL 
		FROM DEFECT_RECEPTION)
		ORDER BY dr_no desc
		]]>
	</select>
	
	<select id="selectContentView" resultMap="DrBoardMap">
		<![CDATA[
		SELECT * FROM DEFECT_RECEPTION WHERE DR_NO = #{drNo}
		]]>
	</select>
	
	<insert id="insertContent" parameterType="DrBoard" statementType="PREPARED">
		INSERT INTO DEFECT_RECEPTION VALUES(SEQ_DR_Board_NO.nextval,
		#{houseNo}, #{adminId}, #{drTitle}, #{drContent} , SYSDATE , #{drState}, SYSDATE, #{drProcessingDetail})
		
	</insert>
	
	
	

</mapper>
