<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">
	<!-- Member ResultMap 생성 by NaHyowon 2021.11.15 -->
	
	<resultMap id="MemberMap" type="Member">
		<id property="houseNum" column="house_num" />
		<result property="pwd" column="pwd" />
		<result property="name" column="name" />
		<result property="phone" column="phone"/>
		<result property="memberSign" column="member_sign"/>
	</resultMap>
	
	<!-- Member select(로그인) 생성 by ParkJunYeb 2021.11.17-->
	<select id="login" resultMap="MemberMap" parameterType="Member">
	select house_num, pwd from member 
	where house_num = #{houseNum} and pwd = #{pwd}
	</select>
	
	<!-- 서명 제출 쿼리문 작성 by NaHyowon 2021.11.24 -->
	<update id="submitSign" parameterType="Member">
		update member set MEMBER_SIGN = #{memberSign} where house_num=#{houseNum}
	</update>
	
	<!-- 서명 불러오기 쿼리문 작성 by NaHyowon 2021.11.24 -->
	<select id="loadSign" parameterType="_long" resultType="_byte[]">
		select member_sign from member where house_num = #{houseNum}
	</select>
	
	<insert id="insertMember" parameterType="Member" statementType="PREPARED">
		INSERT INTO MEMBER VALUES(#{houseNum}, #{pwd}, #{name} , #{phone}, null)
	</insert>

</mapper>
