<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Notice">

	<!-- Notice ResultMap 생성 by 2021.11.16 -->
	<resultMap id="NoticeMap" type="Notice">
		<id property="notice_num" column="notice_num" />
		<result property="admin_id" column="admin_id" />
		<result property="notice_title" column="notice_title" />
		<result property="notice_content" column="notice_content" />
		<result property="notice_image" column="notice_image" />
		<result property="notice_date" column="notice_date" />
	</resultMap>
	
	<select id="Noticelist" resultType="Notice">
		select * from Notice
	</select>

	<select id="getNoticelistCount" resultType="_int">
		select count(*) from Notice

	</select>
</mapper>
