<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Notice">

	<!-- Notice ResultMap 생성 by 2021.11.16 -->
	<resultMap id="NoticeMap" type="Notice">
		<id property="notice_num" column="notice_num" />
		<result property="admin_id" column="admin_id" />
		<result property="notice_title" column="notice_title" />
		<result property="notice_content" column="notice_content" />
		<result property="notice_image" column="notice_image" />
		<result property="notice_date" column="notice_date" />
	</resultMap>
	
	<select id="Noticelist" resultType="Notice">
		<![CDATA[
		select notice_num,admin_id,notice_title,notice_date from NOTICE
			 ]]>
	</select>

	<select id="getNoticelistCount" resultType="_int">
			<![CDATA[
		select count(*) from Notice
 ]]>
	</select>
	
	<select id="selectContentView" resultMap="NoticeMap">
		<![CDATA[
		SELECT notice_num,admin_id,notice_title,notice_date, notice_content from NOTICE WHERE notice_num = #{notice_num}
		]]>
	</select>
	
	<delete id="deleteNotice" parameterType="string" >
	
		DELETE FROM NOTICE WHERE notice_num = #{notice_num}
	
	</delete>
	
</mapper>
