<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SignRecords">
<!--//	SIGN_NO	NUMBER
//	HOUSE_NUM	NUMBER
//	SIGN_YN	NUMBER
	private static final long serialVersionUID = 1111L; 
	private int voteNo;
	private long houseNum;
	private int signYN; -->
<resultMap type="SignRecords" id="SignRecordsMap">
	<result column="SIGN_NO" property="voteNo"/>
	<result column="HOUSE_NUM" property="houseNum"/>
	<result column="SIGN_YN" property="signYN"/>
</resultMap>

<select id="checkSign" parameterType="SignRecords" resultType="_int">
	select count(*) from sign_records where SIGN_NO = #{voteNo} and house_num = #{houseNum}
</select>

<insert id="doSign" parameterType="SignRecords">
	insert into sign_records values( #{voteNo},#{houseNum} , 1)

</insert>

</mapper>
