<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="VoteRecords">

	<resultMap id="VoteRecordsMap" type="VoteRecords">
		<result property="voteNo" column="VOTE_NO"/>
		<result property="houseNum" column="HOUSE_NUM"/>
		<result property="voteCheck" column="VOTE_CHECK"/>
	</resultMap>
	
	<insert id="doVote" parameterType="VoteRecords">
	
		insert into vote_records values( #{voteNo},#{houseNum} , 1)
	
	</insert>
	
	<select id="checkVote" parameterType="VoteRecords" resultType="_int">
	
		select count(*) from vote_records where vote_no = #{voteNo} and house_num = #{houseNum}
	
	</select>
	
	
	
	
</mapper>
